<ul class="nav p-3 bg-dark">
  <li class="nav-item">
    <a class="nav-link text-logo" aria-current="page" href="#"
      >Age of Origins Payment Center</a
    >
  </li>
  <li class="nav-item ms-auto">
   
      <select id="inputState" class="form-select custom-select">
        <option selected>English</option>
        <option>简体中文</option>
        <option>English</option>
        <option>日本語</option>
        <option>한국어</option>
        <option>العربية </option>

        <option></option>
        <option></option>
      </select>
  </li>

</ul>
