
    <!--Main-->
    <header>
        <div class="container py-5">
           <div class="row">
            <!--col first-->
            <div class="col-md-3">
                <div class="card1 p-3">
                    <img src="../../../../assets/images/main.png" alt="img-main" class="img-fluid ms-5 ">
                    <img src="../../../../assets/images/main-text.png" alt="img-main" class="img-fluid mt-3">
                    <p class="card-text">The currency used in Age of Z Origins. In the game, it has the same value as real currency and can be used to buy anything aside from AOZ Coins.</p>
               
                    <div class=" checkbox-box">
                        <div class="form-check">
                          <input type="checkbox" [(ngModel)]="checkboxValue" class="form-check-input" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Read and Agree User Agreement
                            </label>
                          </div>
                    </div>
                </div>
            </div>


            <!--col-second:first row-->

            <div class="col-md-9">
                <!--first row-->
                <div class="row">
                    <div class="col-md-2">
                        <p class="para-text">Please type in the Commander ID </p>
                    </div>
                    <div class="col-md-7">
                       <input type="email" class="form-control input-id" id="exampleFormControlInput1" placeholder="Please type in the Commander ID" [disabled]="!checkboxValue">  
                       <p class="input-id-error" *ngIf="!checkboxValue">Please type in the Commander ID</p> 
                    </div>

                    <div class="col-md-3">
                      <button type="button" [disabled]="!checkboxValue" class="btn btn-primary custom-btn-primary">Confirm</button>
                    </div>
                </div> 



                <!--Second row-->
                <div class="row py-5">
                    <div class="col-md-2">
                        <p class="para-text d-flex">Amount Options<span><img src="../../../../assets/images/logo.png" alt="logo" ></span> </p>
                    </div>
                    <div class="col-md-9">
                        <div class="row row-cols-1 row-cols-md-4 g-4 bg-second-row py-3 pb-5"  [ngClass]="{'disabled': !checkboxValue}">

                            <div class="col">
                                
                              <div class="card text-center">
                                <div class="card-body">
                                  <h5 class="card-title">1999</h5>
                                  <p class=""><del> 24.4$</del></p>
                                  <p class="">24.4</p>
                                <div class="bg-primary w-100">
                                    <p class="">First Purchase Bouns</p>
                                    <p class="">100</p>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title">1999</h5>
                                    <p class=""><del> 24.4$</del></p>
                                    <p class="">24.4</p>
                                  <div class="bg-primary w-100">
                                      <p class="">First Purchase Bouns</p>
                                      <p class="">100</p>
                                  </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title">1999</h5>
                                    <p class=""><del> 24.4$</del></p>
                                    <p class="">24.4</p>
                                  <div class="bg-primary w-100">
                                      <p class="">First Purchase Bouns</p>
                                      <p class="">100</p>
                                  </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title">1999</h5>
                                    <p class=""><del> 24.4$</del></p>
                                    <p class="">24.4</p>
                                  <div class="bg-primary w-100">
                                      <p class="">First Purchase Bouns</p>
                                      <p class="">100</p>
                                  </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title">1999</h5>
                                    <p class=""><del> 24.4$</del></p>
                                    <p class="">24.4</p>
                                  <div class="bg-primary w-100">
                                      <p class="">First Purchase Bouns</p>
                                      <p class="">100</p>
                                  </div>
                                  
                                  </div>
                                  
                                </div>
                                
                              </div>
                            

                          </div>
                         
                          <p class="text-danger">The actual amount you paid includes taxes from your country.</p>
                    </div>
                  
                </div>


                <!--Third row-->
                <div class="row">
                    <div class="col-md-2">
                        <p class="para-text d-flex">Payment Method </p>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-warning" [disabled]="!checkboxValue" ><img src="../../../../assets/images/paypal.png" ></button>
                    </div>
                    <div class="center-button">
                        <button type="button" class="btn btn-warning" [disabled]="!checkboxValue">Buy Now</button>
                    </div>
                    <div class="text-center text-white mt-5">
                        <p>If you have any questions, please contact the official customer support team:aoz@camel4u.com</p>
                    </div>
                </div>
            </div>


           </div>
        </div>
    </header>